<h1>Shopping List Manager</h1>

<h3>Items to Buy</h3>

<table class="table">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Item Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of toBuyList">
      <td>{{ item.amount }}</td>
      <td>{{ item.name }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteItem(item.id)"><i class="bi-trash-fill"></i></button>
      </td>
    </tr>
    <tr>
      <td><input type="number" min="1" class="form-control" [(ngModel)]="newItem.amount" /></td>
      <td><input type="text" class="form-control" placeholder="Item Name" [(ngModel)]="newItem.name" /></td>
      <td>
        <button class="btn btn-primary" (click)="addItemToBuy()"><i class="bi-plus-lg"></i></button>
      </td>
    </tr>
  </tbody>
</table>